.email-preview {
    padding: 10px;
    background-color: rgba(228, 228, 222, 0.548);
    color: black;
    border-bottom: solid rgb(160, 159, 159) 0.5mm;
    cursor: default;
}

.tag {
    border-radius: 33px;
    width: 30px;
    height: 30px;
    color: cornsilk;
}

.del-email-btn {
    font-size: 15px;
    border: solid grey 0.5mm;
    color: crimson;
    padding: 3px;
    cursor: pointer;
}

.star-email-btn {
    color: rgb(139, 139, 139);
    font-size: 15px;
    border: none;
    padding: 3px;
    cursor: pointer;
}

.email-subjects {
    min-width: 650px;
}

.search-emails {
    margin: 10px;
    flex-direction: row-reverse;
}

.compose-btn {
    border-radius: 20px;
    width: 100px;
    height: 30px;
    background-color: #f0f8ff00;
}

.nav-email>* {
    margin: 5px 0;
}

.email-sidebar {
    margin: 0 10px;
}

.email-details {
    background-color: aliceblue;
    margin: 50px 20px;
    padding: 50px;
    height: 200px;
}

.email-body {
    flex-wrap: wrap;
    max-width: 500px;
}

.new-email-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: rgb(161, 161, 161);
    padding: 50px;
    bottom: 0;
    color: whitesmoke;
}

.fa-times {
    color: white;
    border: solid white 0.5mm;
    font-size: 14px;
    margin: 0px
}

.send-email-btn {
    background-color: #1a73e8;
    color: #d9e8fb;
}

.user-msg {
    bottom: 0;
    display: block;
    position: absolute;
    right: 0;
    padding: 20px;
    background-color: #73c393;
    color: ghostwhite;
    border-radius: 15px;
}

/* .replies-container{
    display: none;
} */