.email-form {
    position: fixed;
    bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    bottom: 0;
    right: 15%;
    background-color: #ffffffcc;
    width: 400px;
    height: 400px;
    box-shadow: 0 0 7px 0px #696969;
}

.compose-header {
    background-color: rgb(109 109 109);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 4px 2.1%;
    color: rgb(230, 230, 230);
    box-shadow: 0 0 7px 0px #696969;
}

.compose-header h4 {
    font-family: ubuntu;
    font-weight: 200;
}

.close-compose-btn .fa {
    color: rgb(230, 230, 230);
    font-size: 12px;
}

.send-email-btn {
    padding: 10px;
    border-radius: 4px;
    color: white;
    letter-spacing: 1px;
    margin: 10px 0px 10px 20px;
    background-color: #ec8a00
}

.send-email-btn:hover {
    box-shadow: 0px 2px 4px -1px #72c3ab;
}

.compose-body {
    border: none;
    outline: none;
    padding-top: 10px;
    resize: none;
    flex-grow: 1;
}

.compose-author {
    border: none;
    outline: none;
    padding-top: 5px;
}

.compose-subject {
    border: none;
    outline: none;
    padding-top: 5px;
    box-shadow: 0 0 3px 0px #bdbdbd;
}