@import './cmps.css';
body {
    margin: 0;
}

p {
    margin-bottom: 3px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(207, 207, 207);
}

/* HELPERS */

.purple {
    background-color: rgb(139, 95, 160);
}

.blue {
    background-color: rgb(95, 107, 160);
}

.orange {
    background-color: rgb(231, 122, 19);
}

.gold {
    color: gold;
}

.grey {
    color: rgb(165, 165, 165);
}

.bold {
    font-weight: 600;
    color: goldenrod;
}

.hidden{
    display: none;
}
 