/* @import './cmpsREMOVE.css'; */
@import './email-compose.css';
@import './email-details.css';
@import './email-filter.css';
@import './email-sidebar.css';
@import './email-preview.css';
@import './email-list.css';

.email-app-container{
    align-items:flex-start;
}

/* HELPERS */

.purple {
    background-color: rgb(139, 95, 160);
}

.blue {
    background-color: rgb(95, 107, 160);
}

.orange {
    background-color: rgb(231, 122, 19);
}


.bold {
    font-weight: 600;
    color: rgb(53, 53, 53)
}

.hidden{
    display: none;
}
 