@import './cmps.css';

body {
    margin: 0;
}

p {
    margin-bottom: 3px;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: rgb(207, 207, 207);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}