.note-list {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
}

.note-list>* {
    margin: 10px;
    color: rgb(28, 82, 66);
}

.note-list h4 {
    margin-bottom: 5px;
}

.note-text {
    background-color: rgb(201, 109, 109);
}

.note-img {
    background-color: rgb(88, 201, 77);
}

.note-todos {
    background-color: rgb(124, 124, 190);
}

.note-img img {
    padding: 10px;
    border-radius: 15px;
    height: auto;
    flex-grow: 1;
    object-fit: contain;
}