.about-container {
    margin: 0 40px;
    font-family: ubuntu-bold;
}
.about-container p{
    font-family: ubuntu-bold;
    line-height: 20px;
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.about-container img {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-container div {
    padding: 0 15px
}

.about-container div>* {
    margin-top: 20px;
    padding: 0 80px;
}

.ilya img{
    max-height: 258px;
}