.footer-container {
    color: rgb(182, 182, 182);
    font-family: roboto;
}

.fav-container>* {
    font-size: 25px;
}

.corp-p {
    margin: 0;
}

.fav-container .fa {
    cursor: pointer;
}

.fav-container .fa:hover {
    color: #ec8a00;
}