/* BookApp */

@import '../../apps/books/assets/css/Books-main.css';
/* KeepApp */

@import '../../apps/keep/assets/css/Keep-main.css';
/* MailApp */

@import '../../apps/mail/assets/css/Mail-main.css';
/* HEADER */

@import './header.css';
/* HomePage */

@import './home-page.css';
/* Helpers */

@import './helpers.css';
/* About */

@import './about.css';
/* User-Msg */

@import './user-msg.css';

/* footer */
@import './footer.css';




@font-face {
    font-family: roboto;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: ubuntu-bold;
    src: url(/assets/fonts/Ubuntu-Bold.ttf);
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    font-family: ubuntu-bold, sans-serif, lato-regular;
    background-color: #f7f8f9;
    color: rgb(60, 174, 140);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}


h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    max-width: 120px;
}

/* button:hover {
    box-shadow: 1px 1px black;
} */

.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-app main {
    flex-grow: 1;
}