/* BookApp */

@import '../../apps/books/assets/css/Books-main.css';
/* KeepApp */

@import '../../apps/keep/assets/css/Keep-main.css';
/* MailApp */

@import '../../apps/mail/assets/css/Mail-main.css';
/* HEADER */

@import './header.css';
/* HomePage */

@import './home-page.css';
/* Helpers */

@import './helpers.css';
/* About */

@import './about.css';
/* User-Msg */

@import './user-msg.css';
/* footer */

@import './footer.css';
@font-face {
    font-family: roboto;
    src: url(/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: ubuntu;
    src: url(/assets/fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: ubuntu-bold;
    src: url(/assets/fonts/Ubuntu-Bold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 25px;
    font-family: ubuntu-bold, sans-serif, lato-regular;
    background-color: #f7f8f9;
    color: rgb(60, 174, 140);
}

ol, ul {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 0px;
    font-family: ubuntu;
    color: rgb(78, 78, 78);
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    max-width: 120px;
}

.main-app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-app main {
    flex-grow: 1;
}

.slide-in-br {
    animation: slide-in-br 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-br {
    0% {
        transform: translateY(1000px) translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-br {
    0% {
        transform: translateY(1000px) translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
}

.slide-out-br {
    animation: slide-out-br 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-out-br {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateY(1000px) translateX(1000px);
        opacity: 0;
    }
}

@keyframes slide-out-br {
    0% {
        transform: translateY(0) translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateY(1000px) translateX(1000px);
        opacity: 0;
    }
}