/* BookApp */

@import '../../apps/Books/assets/css/Books-main.css';
@import '../../apps/Keep/assets/css/Keep-main.css';

.main-app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}